@import "tailwindcss";

@layer utilities {
  .bg-primary {
    background-color: #1A237E;
  }

  .bg-secondary {
    background-color: #2E7D32;
  }
}

@layer base {
  h1{
    font-weight: 600;
    font-size: 18px;
    line-height: calc(1.75 / 1.125);
    letter-spacing: 0.025em;
    margin-bottom: 8px;
  }

  li >:hover {
    text-decoration: underline;
    color: #1A237E;
  }
}

@layer components {
    .heroSection{
        background-image: url('/images/global/heroSection.png');
        background-size: cover;
        background-position: top;
        object-fit: cover;
        min-height: 75vh;
        position: relative;
    }
}

